@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  color: #303030;
}
body {
  background-color: rgb(240, 249, 240);
}
.gradient-transparent {
  background-image: linear-gradient(
    to bottom,
    rgba(240, 255, 240, 0.3) 35%,
    rgb(240, 255, 240, 1)
  );
}
.white-transparent {
  background-color: rgba(255, 255, 255, 0.6);
}
.backdrop-filter {
  backdrop-filter: blur(6px);
}
.gap-hero {
  gap: 0 0.9rem;
}
.fruit-section {
  grid-template-columns: repeat(auto-fill, 12rem);
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.category-selected {
  background: #e80013;
}
.category-selected p {
  font-weight: 600;
  color: white;
}
.category-selected svg {
  stroke: #303030;
  fill: #303030;
}

.category-selected div {
  background: hsla(0, 0%, 100%, 0.8);
}
.menu-box {
  display: grid;
  grid-template-columns: repeat(5, 12rem);
  justify-content: center;
}
