@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  color: #303030;
}
body {
  background-color: rgb(240, 249, 240);
}
.gradient-transparent {
  background-image: linear-gradient(
    to bottom,
    rgba(240, 255, 240, 0.3) 35%,
    rgb(240, 255, 240, 1)
  );
}
.white-transparent {
  background-color: rgba(255, 255, 255, 0.6);
}
.backdrop-filter {
  backdrop-filter: blur(6px);
}
.gap-hero {
  gap: 0 0.9rem;
}
.fruit-section {
  grid-template-columns: repeat(auto-fill, 12rem);
}
.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.category-selected {
  background: #e80013;
}
.category-selected p {
  font-weight: 600;
  color: white;
}
.category-selected svg {
  stroke: #303030;
  fill: #303030;
}

.category-selected div {
  background: hsla(0, 0%, 100%, 0.8);
}
.menu-box {
  display: grid;
  grid-template-columns: repeat(5, 12rem);
  justify-content: center;
}
.profile-list {
  visibility: hidden;
}
.profile-box:hover .profile-list {
  visibility: visible;
}
.show-cart-list {
  transition: right 0.2s, opacity 0.5s;
  right: 0;
  opacity: 1;
  visibility: visible;
  animation-name: bounce;
  animation-duration: 0.5s;
}
@keyframes bounce {
  0% {
    right: -25%;
  }
  60% {
    right: 1rem;
  }
  80% {
    right: 0;
  }
}
.order-complete {
  right: calc(50vw - 10rem);
  transition: 1s;
}
.order-complete.none {
  top: -2rem;
}
.none {
  display: none;
}
.loader {
  border: 4px solid transparent; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.register-button {
  background-color: rgba(217, 255, 217, 0.3);
}
.loader {
  border: 8px solid transparent; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 34px;
  height: 34px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
